<% provide(:title, @title) %>
<article id="fav_events" class="panel">

	<header>
		<center><h1>Your Favorite Events</h1></center>
	</header>

	<div> 
	<%= will_paginate @events %>
<% count = 1
	@events.each do |result| %>
			<div class="result-container <%= count % 2 == 0 ? 'even' : '' %>">
				<%= render 'shared/event', result: result, user_events: @user_events %>
			</div>
		<% count += 1
	end %>

	<%= will_paginate @events %>
</div>
