
<div class="share-obj" id="<%= result.id %>"> 
	<input type="hidden" id="description" value="<%= result.description %>">
	<a class="facebook social" target="_blank">F</a>
	<a class="twitter social" target="_blank">L</a>
	<a class="google social plus" target="_blank">H</a>
	<a class="tumblr social" target="_blank">O</a>
	<!--
	<a class="instagram social plus" target="_blank">I</a>
	-->
	<a class="email social plus " target="_blank">M</a>
</div>