<article id="count" class="panel">

	<header>
		<center><h1>DB COUNT</h1></center>
	</header>

<div> 
	TOTAL COUNT : 
		<span id="all">
			<%= @resultsAll  %>
		</span>
	<br>
	TOTAL that still haven't happened: 
		<span id="valid"> 
			<%= @resultsValid %>
		</span>
</div>
</article>