
<article id="edit" class="panel">

	<h1>Editing Event Result</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @event_result %> |
	<% if is_admin %> 
		<%= link_to 'Back', event_results_path %>
	<% else %> 
		<%= link_to 'Back', :controller=>"users", :action=>"events", :id => @current_user.id %>
	<% end %> 
	
</article>