<% provide(:title, "ERROR") %>
<article id="random" class="panel">

	<header>
		<center><h1>Error</h1></center>
	</header>
	<div class="error_icon"> <img src="error_icon.png"></div>
	<div class="error_msg"> 
			<%= @error_msg %>
	</div>
</article>