<% provide(:title, "RANDOM") %>
<article id="random" class="panel">

	<header>
		<center><h1>Randomizer</h1></center>
	</header>

	<p>Coca Cola Or Sprite? To Be Or Not To Be? Chickn Nuggets Or Chicken Wings? This or That?<br />
	Input your choices per line and hit 'Pick For Me' for us to make a decision for you!</p>
	
	<center>
		<form action="" onsubmit="return false;">
			<input type="text" placeholder="1st Choice" name= "choice-1"> <br /> 
			<input type="text" placeholder="2nd Choice" name= "choice-2"> <br /> 
			<input type="button" value="Another Choice" name="addmore" onclick="addChoice(); return false">
			<input type="button" value="Pick For Me" name="pick" onclick="chooseRandomly(); return false;"><br /><br />
			<span class="result"></span>
		</form>
	</center>

</article>