<article id="random" class="panel">

	<header>
		<center><h1>Randomizer</h1></center>
	</header>

	<p>Coca Cola Or Sprite? To Be Or Not To Be? Chickn Nuggets Or Chicken Wings? This or That?<br />
	Input your choices per line and hit 'Pick For Me' for us to make a decision for you!</p>
	
	<center>
		<form action="" onsubmit="return false;">
			<textarea id="choicelist" rows=5 cols=40></textarea><br /><br />
			<input type="button" value="Pick For Me" onclick="chooseRandomly(); return false;"><br /><br />
			<input id="result" type="text" size="40" value="" readonly="readonly" style="border:1px solid #FFFFFF" ><br /><br />
		</form>
	</center>

</article>