<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey Gabby there is some problems in <%= @source %> scapper!</h1>
    <p>Please get work to figuring it out as soon as possible.</p>
  </body>
</html>