<article id="access_denied" class="panel">

	<header>
		<center><h1>Access Denied</h1></center>
	</header>
	<div class="error_icon"> <%= image_tag("error_icon.png", :alt => "Error", :class =>"error_icon") %></div>
	<div class="error_msg"> 
			You must be logged into an admin account to view this page
	</div>

	<a href="/login">Log In</a>
</article>