<article id="results" class="panel">

	<header>
		<center><h1>DB COUNT</h1></center>
	</header>

<div> 
	TOTAL COUNT : <%= @resultsAll  %>
	<br>
	TOTAL that still haven't happened: <%= @resultsValid %>

</div>
</article>