<article id="unknown" class="panel">

	<header>
		<center><h1>Unknown</h1></center>
	</header>
	<div class="error_icon"> <%= image_tag("error_icon.png", :alt => "Error", :class =>"error_icon") %></div>
	<div class="error_msg"> 
			You have entered un charted territory, 
			<%= link_to "Return to IDK", root_path %> 
	</div>
</article>